/* press-start-2p-regular - latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/press-start-2p-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
    url('../fonts/press-start-2p-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/press-start-2p-v6-latin-regular.woff2') format('woff2'),
    url('../fonts/press-start-2p-v6-latin-regular.woff') format('woff'),
    url('../fonts/press-start-2p-v6-latin-regular.ttf') format('truetype'),
    url('../fonts/press-start-2p-v6-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url('../fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v16-latin-regular.woff') format('woff'),
    url('../fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype'),
    url('../fonts/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
