// Bootstrap deps
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

.app {
  h1 {
    color: white;
  }
  text-shadow: 1px 1px 1px black;
  align-items: center;
}

body {
  background: gray;
}
