// Bootstrap deps
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

@import 'fonts';

@import 'aboutMe';

body {
  margin: 0;
  padding: 0;
  background: #321951;
}

.app {
  h1,
  h2,
  h3 {
    font-family: 'Press Start 2P';
  }

  h1 {
    font-size: 1.5em;
  }

  text-shadow: 1px 1px 1px black;
  align-items: center;
  color: white;
  font-size: 1.5em;
}
